.mpl4v {
    /* sizes */
    --controls-width: 340px;
    --screen-height-default: var(--controls-width);

    /* colors */
    --screen-bg: rgb(43, 2, 19);

    /* everything else */
    all: initial;
    font-family: Arial, sans-serif;
    font-size: 10px;
    z-index: 999;
    
    background-color: white;
}

.mpl4v * {
    all: unset;
    box-sizing: border-box;
}

/* class to be a marker of object that can start drag */
.mpl4v-drag-initiator:link { cursor: grabbing; }
.mpl4v-drag-initiator:hover { cursor: grab; }
.mpl4v-drag-initiator:active { cursor: grabbing; }
.mpl4v-drag-initiator:hover * { cursor: initial; }

.mpl4v-fl-row {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.mpl4v-screen {
    display: inline-block;
    width: var(--controls-width);
    height: var(--screen-height-default);
    margin-bottom: 1em;
    position: absolute;
    bottom: 100%;
    background-color: var(--screen-bg);
}

.mpl4v-controls {
    display: inline-block;
    width: 340px;
}

.mpl4v-control-btns {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    border: 1px solid gray;
}

.mpl4-controls--left {
    margin-left: 2em;
    margin-left: 0.5em;
}

.mpl4-controls--right {
    margin-right: 0.75em;
    margin-right: 0;
    margin-left: 0;
}

.mpl4v-control-btns .mpl4v-duration {
    align-self: center;
    font-size: 1.2em;
    user-select: none;
}

.mpl4v .zmdi {
    font-size: 1em;
    width: 1em;
    text-align: center;
}

.mpl4v-control-btns .zmdi-skip-previous,
.mpl4v-control-btns .zmdi-skip-next {
    font-size: 2.25em;
}

.mpl4v-control-btns .zmdi-play,
.mpl4v-control-btns .zmdi-pause {
    font-size: 4em;
    margin: 0;

    width: 0.75em;
}

.mpl4v-control-btns .zmdi-repeat,
.mpl4v-control-btns .zmdi-shuffle {
    font-size: 1.2em;
}

.mpl4v-control-btns .zmdi-repeat {
    margin-right: 2px;
}

.mpl4v-control-btns .zmdi-shuffle {
    margin-left: 2px;
}

.mpl4-controls--right .zmdi {
    font-size: 2.0em;
    width: 1em;
}

.mpl4v-control-btns .mpl4v-vol-ctrl {
    font-size: 2.4em;
}

.mpl4v-control-btns .mpl4v-fullscreen,
.mpl4v-control-btns .zmdi-download {
    font-size: 2.4em;
}

.mpl4v-progress-bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #654141;
}

.mpl4v--hidden { display: none; }