.mpl4v {
    /* sizes */
    --controls-width: 340px;
    --screen-height-default: calc(340px*0.5);

    /* colors */
    --main-color: #ed0566;
    --screen-bg: hsl(335, 91%, 8%);
    --playback-bar-empty-color: #222;
    --playback-bar-buff-color: #b74877;
    --playback-bar-seek-color: #ffdaf580;
    --playback-bar-progress-color: var(--main-color);
    --controls-bg: #52101a;
    --button-color: #f2f2f2;
    --button-disabled-color: #b1b1b1ab;
    --text-color: #f2f2f2;
    --eclipse-color: var(--button-color);

    --mpl4v-z: 999;
    --screen-z: calc(var(--mpl4v-z) + 1);
    --controls-z: calc(var(--screen-z) + 1);

    /* everything else */
    all: initial;
    font-family: Arial, sans-serif;
    font-size: 10px;
    z-index: var(--mpl4v-z);
    
    background-color: var(--controls-bg);
}

.mpl4v * {
    all: unset;
    box-sizing: border-box;
}

/* class to be a marker of object that can start drag */
.mpl4v-drag-initiator:hover * { cursor: initial; }
.mpl4v-drag-initiator:link { cursor: grabbing; }
.mpl4v-drag-initiator:hover { cursor: grab; }
.mpl4v-drag-initiator:active { cursor: grabbing; }

.mpl4v-fl-row {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.mpl4v-screen {
    display: block;
    width: var(--controls-width);
    height: var(--screen-height-default);
    margin-bottom: 1em;
    position: absolute;
    bottom: 100%;
    background-color: var(--screen-bg);
    z-index: var(--screen-z);
    object-fit: contain;
}

.mpl4v-screen[data-fullscreen=true] {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.mpl4v-controls {
    display: inline-block;
    width: var(--controls-width);
    background-color: var(--controls-bg);
}

.mpl4v-controls[data-fullscreen=true] {
    width: 34%;
    left: 33%;
    right: 33%;
    bottom: 10%;
    position: fixed;
    z-index: var(--controls-z);
}

.mpl4v-control-btns {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.mpl4-controls--left {
    margin-left: 2em;
    margin-left: 0.5em;
}

.mpl4-controls--right {
    margin-right: 0.75em;
    margin-right: 0;
    margin-left: 0;
}

.mpl4v-control-btns .mpl4v-duration {
    align-self: center;
    font-size: 1.2em;
    color: var(--text-color);
    user-select: none;
    background: transparent;
}

.mpl4v .zmdi {
    font-size: 1em;
    width: 1em;
    text-align: center;
    color: var(--button-color);
    cursor: pointer;
}

.mpl4v-control-btns .zmdi-skip-previous,
.mpl4v-control-btns .zmdi-skip-next {
    font-size: 2.25em;
}

.mpl4v-control-btns .zmdi-play,
.mpl4v-control-btns .zmdi-pause {
    font-size: 4em;
    margin: 0;
    width: 0.75em;
    position: relative;
}

.mpl4v-eclipse {
    position: absolute;
    width: 1.10em;
    height: 1.10em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-left: 0.065em solid var(--eclipse-color);
    background-color: transparent;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s linear;
}

.mpl4v-eclipse--spining {
    opacity: 1;
    animation-name: eclipse-spining;
    animation-timing-function: cubic-bezier(.54,.32,.47,.81);
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
}

@keyframes eclipse-spining {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        /* 9 full rounds */
        transform: translate(-50%, -50%) rotate(3240deg);
    }
}

.mpl4v-control-btns .zmdi-repeat,
.mpl4v-control-btns .zmdi-shuffle {
    font-size: 1.2em;
}

.mpl4v-control-btns .zmdi-repeat {
    margin-right: 2px;
}

.mpl4v-control-btns .zmdi-shuffle {
    margin-left: 2px;
}

.mpl4-controls--right .zmdi {
    font-size: 2.0em;
    width: 1em;
}

.mpl4v-control-btns .mpl4v-vol-ctrl {
    font-size: 2.4em;
}

.mpl4v-control-btns .mpl4v-fullscreen,
.mpl4v-control-btns .zmdi-download {
    font-size: 2.4em;
}

.mpl4v-playback-progressbar {
    --bar-size: 3px;
    --transition-time: 0.175s;

    display: block;
    width: 100%;
    height: var(--bar-size);
    position: absolute;
    bottom: 100%;
    background-color: var(--playback-bar-empty-color);

    transition: height var(--transition-time);
}

.mpl4v-playback-progressbar:hover,
.mpl4v-playback-progressbar--seek {
    height: calc(var(--bar-size)*2);
}

.mpl4v-playback-progressbar__bar {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0px;
    right: 0px;
}

.mpl4v-playback-progressbar__underlay {
    width: 100%;
    height: 1.8em;
    position: absolute;
    left: 0;
    bottom: -0.4em;
    background: transparent;
}

.mpl4v-playback-progressbar__head {
    --head-size: calc(var(--bar-size) * 4.5);
    
    width: var(--head-size);
    height: var(--head-size);
    position: absolute;
    top: 50%;
    margin-top: calc(var(--head-size) * -0.5);
    transform: translate(-50%) scale(0);
    background-color: var(--playback-bar-progress-color);
    border-radius: 50%;
    transition-duration: var(--transition-time);
    transition-property: transform;
}

.mpl4v-playback-progressbar:hover .mpl4v-playback-progressbar__head,
.mpl4v-playback-progressbar--seek .mpl4v-playback-progressbar__head {
    transform: translate(-50%) scale(1.0);
}

.mpl4v-bar--hor {
    height: 100%;
    border-radius: inherit;
}

.mpl4v-bar-empty-color { background-color: var(--playback-bar-empty-color); }
.mpl4v-bar-buff-color { background-color: var(--playback-bar-buff-color); }
.mpl4v-bar-seek-color { background-color: var(--playback-bar-seek-color); }
.mpl4v-bar-progress-color { background-color: var(--playback-bar-progress-color); }

.mpl4v-bar--transition-hor {
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-property: width, left;
}

.mpl4v-seekbar {
    opacity: 0;
    transition: opacity 0.15s linear;
}

.mpl4v-playback-progressbar:hover .mpl4v-seekbar {
    opacity: 1;
}

.mpl4v-volume-panel-wrap {
    position: relative;
}

.mpl4v-volume-panel {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: calc(var(--controls-width)*0.65);
    height: 100%;
    position: absolute;
    right: 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.33);
    border-radius: 2px;
    background-color: var(--controls-bg);
}

.mpl4v-volume-panel .mpl4v-vol-ctrl {
    margin-left: auto;
}

.mpl4v-volume-panel .mpl4v-volume-mod {
    font-size: 2em;
    cursor: pointer;
}

.mpl4v-volume-bar {
    --bar-size: 0.4em;

    width: 65%;
    height: var(--bar-size);
    margin: 0 0.5em;
    position: relative;
    background-color: var(--playback-bar-empty-color);
}

.mpl4v-volume-bar__underlay {
    --size: calc(var(--bar-size) * 4.5);
    width: 100%;
    height: var(--size);
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: calc(var(--size) * -0.5);
    background-color: transparent;
}

.mpl4v-volume-bar__head {
    --size: calc(var(--bar-size) * 3);
    display: block;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 50%;
    margin-top: calc(var(--size) * -0.5);
    margin-left: calc(var(--size) * -0.5);
    border-radius: 50%;
    background-color: var(--playback-bar-progress-color);
}

.mpl4v .mpl4v--hidden { display: none; }

.mpl4v .mpl4v--toogled { color: var(--main-color); }

.mpl4v .mpl4v-btn--disabled { 
    color: var(--button-disabled-color); 
    cursor: initial;
}