.mpl4v {
    all: initial;
    font-family: Arial, sans-serif;
    font-size: 10px;
    z-index: 999;

    background-color: white;
}

.mpl4v * {
    all: unset;
    box-sizing: border-box;
}

.mpl4v-controls {
    display: inline-block;
    width: auto;
}

.mpl4v .zmdi {
    font-size: 1em;
    width: 1em;
}

.mpl4v-control-btns {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    width: 280px;
    border: 1px solid gray;
}

.mpl4v-control-btns > .zmdi {
    margin: 0 5px;
}

.mpl4v-control-btns > .zmdi-skip-previous,
.mpl4v-control-btns > .zmdi-skip-next {
    font-size: 2.25em;
}

.mpl4v-control-btns > .zmdi-play,
.mpl4v-control-btns > .zmdi-pause {
    font-size: 4em;
}

.mpl4v-control-btns > .mpl4v-time-lbl {
    --side-margin: 0.5em;

    font-size: 0.8em;
    width: 6.5em;
    align-self: flex-start;
}

.mpl4v-control-btns > .mpl4v-time-lbl:first-child {
    margin-right: auto;
    margin-left: var(--side-margin);
    text-align: left;
}
.mpl4v-control-btns > .mpl4v-time-lbl:last-child {
    margin-left: auto;
    margin-right: var(--side-margin);
    text-align: right;
}

.mpl4v-progress-bar {
    display: block;
    width: 100%;
    height: 3px;
    background-color: darkred;
}

.zmdi-hc-fw {
    
}