.player {
    --anim-duration: 2.5s;
    /* border: 1px solid cyan; */
    box-sizing: border-box;

    transition-duration: var(--anim-duration);
    transition-property: width, height, top, left, bottom, right;
}

.player[data-fullscreen="true"] {
    /* width: 100vw;
    height: 100vh; */
    width: auto;
    height: auto;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
}

.screen {
    display: block;
    width: 330px;
    height: 330px;
    margin: 0 auto;
    background-color: #AAF;
    
    transition-duration: var(--anim-duration);
    transition-property: width, height, top, left, bottom, right, margin;
}

.screen[data-fullscreen="true"] {
    width: 100vw;
    height: 100vh;
}

.controls {
    display: block;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 300px;
    min-width: 200px;
    background-color: green;
    position: relative;
    bottom: 0px;

    transition-duration: var(--anim-duration);
    transition-property: width, height, margin, bottom;
}

.controls[data-fullscreen="true"] {
    position: relative;
    bottom: 40px;
    margin-top: -40px;
}

.fs-wrap *[data-fullscreen="true"] {
    transition: none;
}

.fs-wrap {
    display: block;
    position: fixed;
    right: 100%;
    bottom: 100%;
    width: 0;
    height: 0;
}