.mpl4v {
    /* sizes */
    --controls-width: 340px;
    --screen-height-default: calc(340px*0.5);

    /* colors */
    --main-color: #ed0566;
    --main-color-dark: #a90449;
    --screen-bg: hsl(335, 91%, 8%);
    --screen-bg-fs: #111;
    --playback-bar-empty-color: #222;
    --playback-bar-buff-color: #b74877;
    --playback-bar-seek-color: #ffdaf580;
    --playback-bar-progress-color: var(--main-color);
    --controls-bg: #52101a;
    --button-color: #f2f2f2;
    --button-disabled-color: #b1b1b1ab;
    --text-color: #f2f2f2;
    --eclipse-color: var(--button-color);

    --mpl4v-z: 999;
    --screen-z: calc(var(--mpl4v-z) + 1);
    --controls-z: calc(var(--screen-z) + 1);
    --playback-progressbar-z: calc(var(--mpl4v-z) + 10);
    --topmost-z: calc(var(--mpl4v-z) + 100);

    --shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --shadow-5: 0 16px 32px rgba(0,0,0,0.30), 0 12px 14px rgba(0,0,0,0.22);
    
    /* everything else */
    all: initial;
    font-family: Arial, sans-serif;
    font-size: 10px;
    z-index: var(--mpl4v-z);
    
    background: transparent;
}

.mpl4v * {
    all: unset;
    box-sizing: border-box;
}

.mpl4v-container {
    all: initial;
    display: block;
    position: absolute;
    right: 100%;
    bottom: 100%;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.mpl4v--wrap {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    background: transparent;
}

/* class to be a marker of object that can start drag */
.mpl4v-drag-initiator:hover * { cursor: initial; }
.mpl4v-drag-initiator:link { cursor: grabbing; }
.mpl4v-drag-initiator:hover { cursor: grab; }
.mpl4v-drag-initiator:active { cursor: grabbing; }

.mpl4v-fl-row {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.mpl4v-screen {
    display: block;
    width: var(--controls-width);
    height: var(--screen-height-default);
    margin-bottom: 1em;
    position: absolute;
    bottom: 100%;
    background: transparent;
    z-index: var(--screen-z);
    box-shadow: 0 5px 32px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.22);

    transition-timing-function: linear;
    transition-duration: 0.2s;
    /* 
    Required rules for smooth transitions 
    while centering and scaling the screen.
    Related question: 
        https://stackoverflow.com/questions/40804134/css-transition-width-and-height-from-center-of-div
    */
    left: 50%;
    margin-left: -50%;
    transition-property: width, height, margin-left, left;
    /* ------- */
}

.mpl4v-screen[data-fullscreen=true] {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;

    /* cancel position shift when non-fullscreen */
    margin: 0;
    transition: none;
}

.mpl4v-screen > video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--screen-bg);
}

.mpl4v-screen > video[data-fullscreen=true] {
    background-color: var(--screen-bg-fs);
}

.mpl4v-screen-title {
    --size: 90%;
    --half-size: calc(var(--size) * 0.5);
    --margin: calc(50% - var(--size) * 0.5);
    --lh: 1.2em;
    --padding-vert: 0.125em;    /* padding-top[bottom] 2px / 16px = 0.125em */
    --max-lines: 4;
    --opacity: 0.8;

    display: block;
    
    /* size definition */
    width: auto;
    max-width: var(--half-size);
    height: auto;
    max-height: 1.4em;
    padding: var(--padding-vert) 0.5em; 
    font-size: 1.6em;
    line-height: var(--lh);
    /* --------------- */

    position: absolute;
    left: var(--margin);
    top: var(--margin);
    color: var(--text-color);
    background-color: var(--screen-bg);
    opacity: 0;
    overflow: hidden;
    text-overflow: ellipsis;

    /* anim rules */
    --slide-time: 0.2s;
    --half-st: calc(var(--slide-time) * 0.5);

    transition: 
        max-width var(--half-st) var(--half-st)
        , width var(--half-st) var(--half-st)
        , max-height var(--half-st) 0s
        , height var(--half-st) 0s
        , opacity var(--half-st) 0s
        ;
    /* --------------- */
}

.mpl4v:hover .mpl4v-screen-title {
    opacity: var(--opacity);
}

.mpl4v-screen-title:hover:hover {
    /* max height is based on lines count, line-height and vertical paddings */
    --max-height: calc(var(--lh) * var(--max-lines) + var(--padding-vert)*2);

    max-width: var(--size);
    height: auto;
    max-height: var(--max-height);
    opacity: 1;

    transition-delay: 0s, 0s, var(--half-st), var(--half-st);
}

.mpl4v-screen-title[data-fullscreen=true] {
    --size: 98%;
    --max-lines: 6;

    font-size: 2.8em;
}

.mpl4v-error {
    --font-size: 1em;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: rgba(64,64,64,0.66);
}

.mpl4v-error[data-fullscreen=true] {
    --font-size: 1.8em;
    padding: 0 10%;
}

.mpl4v-error > span {
    display: block;
    width: 100%;
    font-size: var(--font-size);
    color: var(--text-color);
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: auto;
}

.mpl4v-error .mpl4v-error__label {
    font-size: calc(var(--font-size) * 2.2);
}

.mpl4v-error .mpl4v-error__code {
    font-size: var(--font-size);
}

.mpl4v-error .mpl4v-error__message {
    margin-top: 0.5em;
    font-size: 1.8em;
    font-size: calc(var(--font-size) * 1.8);
}

.mpl4v-controls {
    display: inline-block;
    width: var(--controls-width);
    background-color: var(--controls-bg);
    box-shadow: var(--shadow-5);
}

.mpl4v-controls[data-fullscreen=true] {
    width: 34%;
    left: 33%;
    right: 33%;
    bottom: 10%;
    position: fixed;
    z-index: var(--controls-z);
}

.mpl4v-control-btns {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.mpl4-controls--left {
    margin-left: 2em;
    margin-left: 0.5em;
}

.mpl4-controls--right {
    margin-right: 0.75em;
    margin-right: 0;
    margin-left: 0;
}

.mpl4v-control-btns .mpl4v-duration {
    align-self: center;
    font-size: 1.2em;
    color: var(--text-color);
    user-select: none;
    background: transparent;
}

.mpl4v .zmdi {
    font-size: 1em;
    width: 1em;
    text-align: center;
    color: var(--button-color);
    cursor: pointer;
    transition-property: text-shadow, color;
    transition-duration: 0.066s;
    transition-timing-function: linear;
}

.mpl4v .zmdi:hover,
.mpl4v *[tabIndex="0"]:focus,
.mpl4v *[tabIndex="0"]:focus > .zmdi {
    color: var(--main-color);
}

.mpl4v .zmdi:active {
    color: var(--main-color-dark);
}

.mpl4v-control-btns .zmdi-skip-previous,
.mpl4v-control-btns .zmdi-skip-next {
    font-size: 2.25em;
}

.mpl4v-control-btns .zmdi-play,
.mpl4v-control-btns .zmdi-pause {
    font-size: 4em;
    margin: 0;
    width: 0.75em;
    position: relative;
}

.mpl4v-eclipse {
    position: absolute;
    width: 1.10em;
    height: 1.10em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-left: 0.065em solid var(--eclipse-color);
    background-color: transparent;
    pointer-events: none;
    z-index: var(--topmost-z);
    opacity: 0;
    transition: opacity 0.25s linear;
}

.mpl4v-eclipse--spining {
    opacity: 1;
    animation-name: mpl4v-eclipse-spining;
    animation-timing-function: cubic-bezier(.54,.32,.47,.81);
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
}

@keyframes mpl4v-eclipse-spining {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        /* 9 full rounds */
        transform: translate(-50%, -50%) rotate(3240deg);
    }
}

.mpl4v-control-btns .zmdi-repeat,
.mpl4v-control-btns .zmdi-shuffle {
    font-size: 1.2em;
}

.mpl4v-control-btns .zmdi-repeat {
    margin-right: 2px;
}

.mpl4v-control-btns .zmdi-shuffle {
    margin-left: 2px;
}

.mpl4-controls--right .zmdi {
    font-size: 2.0em;
    width: 1em;
}

.mpl4v-control-btns .mpl4v-vol-ctrl {
    font-size: 2.4em;
}

.mpl4v-control-btns .mpl4v-fullscreen,
.mpl4v-control-btns .zmdi-download {
    font-size: 2.4em;
}

.mpl4v-playback-progressbar {
    --bar-size: 3px;
    --transition-time: 0.175s;

    display: block;
    width: 100%;
    height: var(--bar-size);
    position: absolute;
    bottom: 100%;
    z-index: var(--playback-progressbar-z);
    cursor: pointer;
    background-color: var(--playback-bar-empty-color);

    transition: height var(--transition-time);
}

.mpl4v-playback-progressbar:hover,
.mpl4v-playback-progressbar--seek {
    height: calc(var(--bar-size)*2);
}

.mpl4v-playback-progressbar__bar {
    width: inherit;
    height: inherit;
    position: absolute;
    left: 0px;
    right: 0px;
}

.mpl4v-playback-progressbar__underlay {
    width: 100%;
    height: 1.8em;
    position: absolute;
    left: 0;
    bottom: -0.4em;
    background: transparent;
}

.mpl4v-playback-progressbar__head {
    --head-size: calc(var(--bar-size) * 4.5);
    
    width: var(--head-size);
    height: var(--head-size);
    position: absolute;
    top: 50%;
    margin-top: calc(var(--head-size) * -0.5);
    transform: translate(-50%) scale(0);
    background-color: var(--playback-bar-progress-color);
    border-radius: 50%;
    transition-duration: var(--transition-time);
    transition-property: transform, left;
}

.mpl4v-playback-progressbar:hover .mpl4v-playback-progressbar__head,
.mpl4v-playback-progressbar--seek .mpl4v-playback-progressbar__head {
    transform: translate(-50%) scale(1.0);
}

.mpl4v-playback-progressbar--seek .mpl4v-playback-progressbar__head {
    transition-property: transform;
}

.mpl4v-bar--hor {
    height: 100%;
    border-radius: inherit;
}

.mpl4v-bar-empty-color { background-color: var(--playback-bar-empty-color); }
.mpl4v-bar-buff-color { background-color: var(--playback-bar-buff-color); }
.mpl4v-bar-seek-color { background-color: var(--playback-bar-seek-color); }
.mpl4v-bar-progress-color { background-color: var(--playback-bar-progress-color); }

.mpl4v-bar--transition-hor {
    transition: width 0.2s linear;
}

.mpl4v-seekbar {
    opacity: 0;
    transition: opacity 0.15s linear;
}

.mpl4v-playback-progressbar:hover .mpl4v-seekbar {
    opacity: 1;
}

.mpl4v-volume-panel-wrap {
    position: relative;
}

.mpl4v-volume-panel {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: calc(var(--controls-width)*0.65);
    height: 100%;
    position: absolute;
    right: 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.33);
    border-radius: 2px;
    background-color: var(--controls-bg);
}

.mpl4v-volume-panel .mpl4v-vol-ctrl {
    margin-left: auto;
}

.mpl4v-volume-panel .mpl4v-volume-mod {
    font-size: 2em;
    cursor: pointer;
}

.mpl4v-volume-bar {
    --bar-size: 0.4em;

    width: 65%;
    height: var(--bar-size);
    margin: 0 0.5em;
    position: relative;
    background-color: var(--playback-bar-empty-color);
}

.mpl4v-volume-bar__underlay {
    --size: calc(var(--bar-size) * 4.5);
    width: 100%;
    height: var(--size);
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: calc(var(--size) * -0.5);
    background-color: transparent;
}

.mpl4v-volume-bar__head {
    --size: calc(var(--bar-size) * 3);
    display: block;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 50%;
    margin-top: calc(var(--size) * -0.5);
    margin-left: calc(var(--size) * -0.5);
    border-radius: 50%;
    background-color: var(--playback-bar-progress-color);
}

.mpl4v .mpl4v--hidden { display: none; }

.mpl4v .mpl4v--toogled { 
    color: var(--main-color); 
    text-shadow: 
        0 0 0.2em var(--main-color)
        ,-1px -2px 0.2em var(--main-color)
        ,1px 2px 0.2em var(--main-color)
    ;
}

.mpl4v .mpl4v-btn--disabled,
.mpl4v .mpl4v-btn--disabled:hover,
.mpl4v .mpl4v-btn--disabled:active { 
    color: var(--button-disabled-color); 
    cursor: initial;
}

.mpl4v-trans--fade-in {
    opacity: 1;
    visibility: visible;
    transition: 
        opacity 0.15s linear 0s
        , visibility 0s 0s
        ;
}

.mpl4v-trans--fade-out {
    --anim-time: 0.15s;

    opacity: 0;
    visibility: hidden;
    transition: 
        opacity var(--anim-time) linear 0s
        , visibility 0s linear var(--anim-time)
        ;
}